.main_List {
	width: 1000px;
	margin: 0 auto;
}

.nav {
	float: left;
	padding-left: 40px;
	padding-top: 10px;
	margin-top: 20px;
	width: 960px;
	height: 30px;
}

.type_one{
	float:left;
	width:960px;
	margin-left: 10px;
	margin-top: 20px;
}

.type_title{
	float:left;
	width:100%;
}

.type_list{
	float:left;
	width:100%;
	background-color: #F8F8F8;
	margin-top: 10px;
	padding-left: 10px;
}

.type_two{
	float:left;
	width: 70px;
	height: 50px;
	text-align: center;
	padding-top: 33px;
}

.elements{
	margin-left:10px;
	float:left;
	width:90%;
}

.element{
	float:left;
	margin-left: 15px;
}

.more_elements{
	float:right;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 29px;
}
